.card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 16px;

    &.card-shadow {
        box-shadow: 8px 27px 0px -8px rgba(237,240,243,0.32);
        -webkit-box-shadow: 8px 27px 0px -8px rgba(237,240,243,0.32);
        -moz-box-shadow: 8px 27px 0px -8px rgba(237,240,243,0.32);
    }

    &.padding-big {
        padding: 24px;
    }

    img, i {
        margin-right: 16px;
    }

    @media #{$media-not-desktop} {  
        border-bottom: 0;

        &.last {
            &:last-child {
                border-bottom: 1px solid #ddd;
            }
        }
    }

    .title {
        margin-bottom: 8px;
        font-size: 24px;
        line-height: 1.4;
        text-decoration: none;
        color: black;

        &:hover,
        &:focus,
        &:active {
           color: #006939;
        }

        &.block {
            display: block;
            color: #000;
            font-weight: 400;
        }
    }

    .date {
        margin-top: 16px;
        font-size: 14px;
        color: #888;
    }
}