.image {
    width: 100%;
    @media #{$media-not-desktop}{ 
        width: auto;    
    }
}

.image-helping {
    position: absolute;
    width: 370px;
    right: 0;
    bottom: 110px;

    @media #{$media-not-desktop}{  
        display: none;
    }
}

.image-helping-wraps {
    position: relative;
}