.form-in {
    background-color: $color-white;
    border: 1px solid #ddd;
    padding: 8px 12px;
    font-size: 14px;
    min-width: 250px;
    border-radius: 2px;
}

.form-g {
    margin-bottom: 16px;

    label {
        color: #888;
        font-size: 14px;
        margin-bottom: 8px;
        margin-top: 16px;
    }
}

.form-md {
    border: 1px solid #ddd; 
    padding: 8px;
    margin-top: 16px;
}

.error {
    color: red;
    font-size: 14px;
    line-height: 2;
}