.form-g {

}

.form-in {
    background-color: $color-white;
    border: 1px solid #aaa;
    padding: 4px;
    border-radius: 4px;
}

.mybtn {
    padding: 8px;
    padding: 4px 12px;
    cursor: pointer;
    font-smooth: initial;
    font-size: 14px;


}