.footer {
    &-container {
        border-top: solid 1px #eee;

        @media #{$media-not-desktop}{
            text-align: center;
        }
    }

    &-content {
        padding: 24px 0;
        display: block;
        color: #808080;
        font-size: 14px;
        @media #{$media-not-desktop}{ 
            text-align: center;
            display: inline-block;
        }

        .left {
            display: inline;
            text-align: left;
            @media #{$media-not-desktop}{ 
                display: block;
                display: inline-block;
                margin-bottom: 8px;
            }
        }

        .right {
            display: inline;
            margin-left: auto;
            float: right;
            
            @media #{$media-not-desktop}{ 
                display: block;
                display: inline-block;
                margin-right: 10%;
                margin-left: 10%;
                float: unset;
                margin-bottom: 8px;
                margin-left: 12px;
            }
        }
    }
}