.nav {
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-bottom: 1px solid #eee;

    &.nav-desktop {
        display: block;
        @media #{$media-not-desktop} { 
            display: none;
        }
    }
    
    &.nav-mobile {
        display: none;
        @media #{$media-not-desktop} { 
            display: block;
        }

        .logo {
            text-align: center;
            padding: 8px;

            .logo-item {
                height: 30px;
            }
        }

        .nav-list {
            display: flex;
            width: 100%;
            padding-left: 0;
            overflow-x: auto;
            
            .item {
                margin-right: 0;
                display: inline-block;
                display: block;
                text-align: center;
                min-width: 150px;
                border-bottom: 1px solid #fcfcfc;
                
                a {
                    background-color: #eee;
                    margin: 8px;                
                    border-radius: 4px;
                    border: 1px solid #ddd  ;    
                }
            }
        }
    }
    
    .nav-list {
        margin: 0;
        list-style: none;
        display: flex;
        font-weight: 500;
        font-size: 1rem;
        padding-left: 0;
        
        .item {
            &.logo {
                a {
                    padding: 12px;
                    
                    .logo-item {
                        height: 24px;
                    }
                }
            }

            &.logoname {
                font-weight: 700;
                
                a {
                    padding: 16px 16px 16px 0;

                    &:hover {
                        background-color: #fff;
                        transition: all .1s;
                    }
                }
            }
            
            a {
                display: block;
                color: #000;
                text-decoration: none;
                padding: 16px;

                &:hover {
                    background-color: #eee;
                    transition: all .1s;
                }
                
            }

            &.right {
                display: flex;
                margin-left: auto;
                gap: 12px;

                .button-switch {
                    .dark-mode-btn {
                        position: relative;
                        top: 15px;
                    }
                }
            }

            .icon-github {
                height: 16px;
                margin-right: 8px;
                position: relative;
                top: 2px;
            }
        }
    }
}