.nav {
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-bottom: 1px solid #ddd;

    &.nav-desktop {
        display: block;
        @media #{$media-not-desktop} { 
            display: none;
        }
    }
    
    &.nav-mobile {
        z-index: 10;
        display: none;
        background-color: $color-white;

        @media #{$media-not-desktop} { 
            display: block;
            position: fixed;
            width: 100%;
            top: 0;
        }


        .logo {
            text-align: center;
            padding: 16px 8px;
            
            .menu {
                float: right;
                position: absolute;
                right: 13px;
                top: 12px;
            }

            .logo-item {
                height: 30px;
            }

            a {
                color: #000;
            }
        }

        .nav-list-mobile {
            display: none;
            text-align: left;
            list-style: none;
            padding-left: 0;
            margin-left: 0;
            height: calc(100vh - 50px);
            transition: all ease .2s;

            li {
                a {
                    display: block;
                    text-decoration: none;
                    padding: 8px 24px;
                }
                border-bottom: 1px solid #eee;

                &:last-child {
                    border-bottom: 0;
                }
            }

            &.show {
                display: block;
            }

            &.hide {
                display: none;
            }
        }
    }
    
    .nav-list {
        margin: 0;
        list-style: none;
        display: flex;
        font-weight: 500;
        font-size: 1rem;
        padding-left: 0;
        
        .item {
            &.logo {
                a {
                    padding: 12px;
                    
                    .logo-item {
                        height: 24px;
                    }
                }
            }

            &.logoname {
                font-weight: 700;
                
                a {
                    padding: 16px 16px 16px 0;

                    &:hover {
                        background-color: #fff;
                        transition: all .1s;
                    }
                }
            }
            
            a {
                display: block;
                color: #000;
                text-decoration: none;
                padding: 20px;

                &:hover {
                    background-color: #eee;
                    transition: all .1s;
                }
                
            }

            &.right {
                display: flex;
                margin-left: auto;
                gap: 12px;

                .button-switch {
                    .dark-mode-btn {
                        position: relative;
                        top: 15px;
                    }
                }
            }

            .icon-github {
                height: 16px;
                margin-right: 8px;
                position: relative;
                top: 2px;
            }
        }
    }
}