body {
    margin: 0;
    padding: 0;
}

h1,
h2, h3, h4, h5, h6,
ul,p,label{
    font-family: 'Rubik', sans-serif;
}

div, section {
    font-family: 'Rubik', sans-serif;
}

.text-big {
    font-size: 24px;
    margin-bottom: 8px;
    margin-top: 0;
    padding-top: 0;
}