body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

h1,
h2, h3, h4, h5, h6,
ul,p,label, div{
    font-family: 'Rubik', sans-serif;
}

div, section {
    font-family: 'Rubik', sans-serif;
}

.text-big {
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 0;
    padding-top: 0;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;

    &.flex {
        display: flex !important;
    }
}

.dark-mode-btn {
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 12px;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 50px;
}

.dark {
    .dark-mode-btn {
        background-color: #202022;
        border: 1px solid #505050;
    }

    a {
        &:hover {
            color: $color-gray-soft !important;
        }
    }

    .section-general { 
        &.gray {
            background-color: #202022;
            border: 1px solid #202022;
        }
    }
}

.tohide {
    display: none !important
}

.toshow {
    display: block !important;
}

pre {
    background-color:  #eee;
    padding: 24px;
    border-radius: 2px;
}