.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;

    &-inner {
        padding: 0 0;

        @media #{$media-not-desktop}{ 
            padding: 0 16px;
            margin-top: 52px;
        }

        &.topbottom {
            padding-top: 54px;
            padding-bottom: 72px;

            @media #{$media-not-desktop}{ 
                padding-top: 32px;
                padding-bottom: 16px;
            }
        }

        &.flex {
            display: flex;
        }
    }

    &-content {
        h1,h2,h3,h4 {
            padding-top: 24px;
        }

        &--contain {
            @media #{$media-not-desktop}{  
                padding: 0 0 !important;
            }
        }

        @media #{$media-not-desktop}{  
            padding: 0 16px;
        }

        .content-small {
            min-width: 250px;

            @media #{$media-not-desktop}{   
                min-width: unset;
            }
            
            &.contain-wrap {
                background-color: #fff;
                padding: 48px 48px;
                border: 1px solid #ddd;
                margin-top: 24px;

                @media #{$media-not-desktop}{   
                    margin-top: 0;
                    padding: 16px 16px;
                }

                &--small {
                    height: fit-content;
                    overflow-y: auto;
                }
            }
           
            &.half {
                max-width: 600px;

                @media #{$media-not-desktop}{    
                    max-width: unset;
                }
            }
        }

        p,ul,li {
         line-height: 1.7
        } 

        .flex {
            display: flex;

            @media #{$media-not-desktop}{    
                display: block;
                .contain-wrap {
                    &:first-child {
                        margin-right: 0 !important;
                    }
                }
            }

            .contain-wrap {
                &:first-child {
                    min-width: 600px;
                    margin-right: 16px;

                    @media #{$media-not-desktop}{
                        min-width: unset;
                        margin-bottom: 16px;
                    }
                }
            }
        }
        
    }

    &-blog{
        
        &-add {
            margin-top: 54px; 

            @media #{$media-not-desktop}{ 
                margin-top: 72px;
            }
        }
    }
}

.masthead {
    &-container {
        position: relative;
        &--content {
            display: grid;
            max-width: 100%;
            grid-template-columns: auto auto auto;
            text-align: left;

            @media #{$media-not-desktop}{
                padding: 16px;
                text-align: center;
                row-gap: 8px;
                grid-template-columns: unset;
            }
        
            .content {
                text-align: left;

                @media #{$media-not-desktop}{ 
                    padding: 8px;
                }

                .image-profile {
                    border-radius: 50%;
                    max-width: 180px;
                    margin-bottom: 16px;
                    @media #{$media-not-desktop}{  
                        margin-top: 16px;
                    }
                }

                h2{
                    margin-top: 0;
                    margin-bottom: 2px;
                    padding-bottom: 12px;
                    line-height: 1.3;
                    font-weight: 300;
                    font-size: 2.4em;
                }
    
                h3{
                    margin-top: 0;
                    margin-bottom: 2px;
                    padding-bottom: 8px;
                    line-height: 1.4;
                    font-weight: 300;
                }

                h1{
                    margin-top: 0;
                    margin-bottom: 2px;
                    padding-bottom: 12px;
                    line-height: 1.25;
                    font-weight: 500;
                    letter-spacing: -0.2px;
                    font-size: 2.7em;

                    @media #{$media-not-desktop}{  
                        font-size: 1.8em;
                    }
                }

                p {
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-bottom: 8px;
                    line-height: 1.8;
                }
                
                .text-description {
                    font-size: 16px;
                    margin-top: 0;
                    line-height: 1.6;
                }

                .social-list {
                    margin-top: 32px;

                    &--item {
                        a {
                            text-decoration: none;
                            border: none;
                            
                            @media #{$media-not-desktop}{   
                                display: block;    
                                margin-bottom: 8px;
                                
                                &:not(:first-of-type){ 
                                    margin-left: 0 !important;
                                }
                            }

                            &:not(:first-of-type){
                                margin-left: 8px;
                            }

                            .icon-ig {
                                position: relative;
                                top: -2px;
                            }

                            .icon-ln {
                                position: relative;
                                top: -2px;
                            }

                            svg {
                                position: relative;
                                top: 3px;
                            }
                        }
                    }
                }
            }
        }

        &.green {
            background-color: #006A39;
            color: #fff;
        }
    }
}

.section {
    @media #{$media-not-desktop}{   
        margin-top: 32px;
    }

    &.dark-mode {
        h1, h2, h3, h4, h5, h6,
        ul,p,label, div{
            color: #fcfcfc;
        }

        &.section {
            background-color: #1d1e20;

            .nav {
                background-color: #000;
                border-bottom: 1px solid #000;
            
                .nav-list {
                    .item {
                        a {
                            color: #fff;
                            &:hover {
                                background-color: #000;
                                transition: all .1s;
                            }
                        }
                    }

                    &.logoname {
                        font-weight: 700;
                        background-color: #000;
                    }
                }
            }
        }
    }

    &-general {
        margin-bottom: 32px;

        @media #{$media-not-desktop}{   
          margin-top: 64px;
        }
        
        &.between {
            margin-bottom: 0;
        }

        &.gray {
            background-color: #fff;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            padding-top: 24px;
            padding-bottom: 48px;
        }

        &.opt-height{
            min-height: 1200px;
        }
    }

    &-contact {
        &--background {
            background-color: #006A39;
            padding: 14px 0;
            margin-bottom: 64px;
            
            @media #{$media-not-desktop}{ 
                padding: 24px 0;
                margin-bottom: 4px  ;
            }
        }
        
        &--content {
            display: flex;
            color: #fff;
            margin-left: 36px;
            margin-right: 36px;

            @media #{$media-not-desktop}{  
                display: inline-block;
            }

            .left {
                h3 {
                    margin-top: 6px;
                    margin-bottom: 0;
                    padding-top: 0;

                    @media #{$media-not-desktop}{   
                        margin-top: 0;
                        margin-bottom: 16px;
                    }
                }
            }

            .right {
                float: right;
                margin-left: auto;
                gap: 24px;

                @media #{$media-not-desktop}{  
                    float: left;
                    margin-top: 0;
                }

                a {
                    float: right;
                    display: block;
                    text-decoration: none;
                }
            }
        }
    }

    &-service {
        padding: 2px 0;

        &--list {
            display: grid;
            list-style: none;
            padding-left: 0;
            grid-template-columns: auto auto auto;
            column-gap: 16px;

            @media #{$media-not-desktop}{  
                display: grid;
                grid: none;
            }

            li {
                display: contents;
            }
        }
    }
    
    &-expert {
        padding: 64px 0;
    
        &--background {
            background-color: #fff;
            padding: 20px 0;
            border-radius: 2px;

            @media #{$media-not-desktop}{ 
                padding: 10px 0;
            }
        }

        &--list {
            list-style: none;
            padding-left: 0;
            margin-left: 6px;
            margin-right: 36px;
            
            @media #{$media-not-desktop}{ 
                margin-left: 20px;
                margin-right: 20px;
            }

            li {
                margin-bottom: 0;
                border-left: 1px solid #eee;

                &::before {
                    content:"\A";
                    width:12px;
                    height:12px;
                    border-radius:50%;
                    background: #006A39;
                    display:inline-block;
                    margin-left: -6px;
                    position: absolute;
                }

                .section-expert--list-item {
                    margin-left: 30px;    
                    padding-bottom: 16px;
                    position: relative;
                    top: -4px;

                    @media #{$media-not-desktop}{ 
                        margin-left: 20px;
                    }

                    div {
                        margin-bottom: 0;
                    }
                }

                &:last-of-type {
                    .section-expert--list-item {
                        padding-bottom: 0;
                    }
                }

                small {
                    color: #8f8f8f;
                }
            }
        }
    }

    &-news {
        min-height: 1000px;
        ul {
            margin-left: 0;
            padding-left: 0;
            list-style: none;

            li {
                padding: 16px 0;
                border-bottom: 1px solid #f5f5f5;

                a {
                    display: block;
                    text-decoration: none;
                    color: $color-black-medium;
                    transition: all .2s linear;

                    &:hover {
                        color: $color-black;
                    }
                }
            }
        }
    }
}

.center {
    text-align: center !important;
}


.blog {
    &-tags {
        display: flex;
        margin-bottom: 24px;

        div {
            background-color: #f5f5f5;
            color: #777;
            margin-right: 8px;
            font-size: 12px;
            padding: 8px 16px;
            border-radius: 30px;
            border: 1px solid #ddd;
        }
    }

    &-list {
        padding-left: 14px;
    }
}